<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>超Vue.js</title>
  <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>
<body>
  <!-- #48 -->
  <div id="app">
    <ul>
      <div v-for="fruit in fruits" :key="fruit">
        <p>{{fruit}}</p>
        <input type="text">
      </div>
    </ul>
    <button @click="remove">先頭を削除</button>
  </div>
  <!--:keyをつけないと、一意にならず、ずれていく-->
  
  <!-- #45 -->
  <!-- <div id="app">
    <template v-for="fruit in fruits">
      <ul>
        <li>{{fruit}}</li>
        <hr>
      </ul>
    </template>
  </div> -->
  <!--divタグを使うと構造が複雑になる-->

  <!-- #44 -->
  <!-- <div id="app">
    <ul>
      <li v-for="(fruit,index) in fruits">{{index}}番目の{{fruit}}</li>
    </ul>
    <ul>
      <li v-for="(value,key,index) in object">{{index}}.{{key}}-{{value}}</li>
    </ul>
  </div> --><!--第２引数はkey、第３引数はindex -->

  <!-- #39 -->
  <!-- <div id="app">
    <template v-if="ok">
      <p>Hello</p>
      <p>GoodBye</p>
      <p>おはよう</p>
    </template>
    <button @click="ok=!ok">ボタン</button>
  </div> -->
  <!--templateタグは、検証した時、表示されない-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>